@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Josefin+Sans:wght@700&display=swap');
.css-dip3t8{
    background-color: #ffc600 !important;  
  }

  .sidebar{
    text-align: center;
    
    font-family: 'Black Han Sans', sans-serif;
  }